*{
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	font-family: sans-serif;
	overflow-x: hidden;
}

body{
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	font-family: sans-serif;
	overflow-x: hidden;
	background: #f5fafb;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

header{
	position: fixed;
	background: #66abe6;
	width: 100%;
	height: 33px;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
	padding-top: 9px;
	overflow: hidden;
	z-index: 200;
}

header label{
	position: relative;
	top: 0px;
}

.h1{
	text-align: left;
}

.h1 i{
	position: absolute;
	cursor: pointer;
	color: #fff;
	left: 10px;
	z-index: 20;
}

.h1 i:hover{
	cursor: pointer;
}

header img{
	position: relative;
	top: -3px;
	width: 30px;
	height: 30px;
}

.main{
	position: relative;
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

.main-header{
	position: fixed;
	padding-top: 20px;
	padding-bottom: 0px;
	top: 40px;
	width: 100%;
	height: auto;
	background: #fff;
	
}

.main-center{

	margin-top: 30px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #ccc;
	width:60%;
}

.main-center ul li{
	text-align: left;
	padding-left: 20px;
	padding-bottom:10px; 
}

.header-one{
	/*position: fixed;*/
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	font-weight: bold;
	background: #66ABE6;
	box-shadow: 2px 5px 10px #ccc;
	z-index: 100;
}
.color{
	color: #000;
}

.h2 {
	position: relative;
	top: -35px;
	right: 10px;
	text-align: right;
}

.btn-ctrl{
	position: fixed;
	background: #fff;
	bottom: 0px;
	box-shadow: 5px 5px 13px #000;
	/*border-top: 1px solid #66abe6;*/
	width: 100%;
	height: 60px;
}

.btn-ctrl ul li{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-ctrl ul{
	margin-top: 10px;
}

.btn-ctrl ul li i{
	position: relative;
	color: #5e5e5e;
	font-size: 20px;
}

.btn-ctrl ul li a{
	color: #5e5e5e;
}

.btn-ctrl ul:hover{
	color: pointer;
}

@media only screen and (min-width: 460px) and (max-width: 999px){

}

@media only screen and (min-width: 100px) and (max-width: 459px){

}
