body{
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	font-family: sans-serif;
	overflow-x: hidden;
	background: #f5fafb;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

header{
	position: fixed;
	background: #66abe6;
	top: 0px;
	width: 100%;
	height: 33px;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
	padding-top: 9px;
	overflow: hidden;
	z-index: 100;
}

header label{
	position: relative;
	top: 0px;
}

.h1{
	padding-left: 10px;
	text-align: left;
	font-size: 19px;	
}

.h1 a{
	color: #fff;
}

.h1 label{
	padding-left: 10px;
}
.main{
	position: relative;
	margin-top: 30px;
}

.main-header{
	position: fixed;
	top: 40px;
	text-align: left;
	background: #fff;
	box-shadow: 2px 5px 10px #ccc;
	color: #000;
	padding:10px 0px 10px 0px;
	font-weight: bold;
	width: 100%;
	z-index: 200;
	padding-left: 20px;
}

.main-header div{
	margin-top: -25px;
	width: 93%;
	text-align: right;
}

.size{
	position: relative;
	top: -6px;
	margin-top: -10px;
	right: 10px;
	font-size: 25px;
}

.main-header label{
	position: relative;
	top: -15px;
	padding-left: 5px;
}

.main-header img{
	border-radius: 50px;
	width: 40px;
	height: 40px;

}

.main-body{
	position: relative;
	top: 85px;
	background: #fff;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10px;
	/*background: green;*/
}

.main-body{
	margin-top: 10px;
	text-align: left;
}

.main-body label{
	position: relative;
	top: -20px;
	padding-left: 10px;
}

.main-center-ctrl{
	position: relative;
	padding-top: 5px;
	padding-bottom: 25px;

}

.main-btn{
	position: relative;
	width: 0%;
	margin-top: -540px;
	left: 80%;
}

.main-btn li{
	padding-bottom: 30px;
}

.main-body img{
	height: 50px;
	width: 50px;
}

@media only screen and (min-width: 460px) and (max-width: 999px){

}

@media only screen and (min-width: 100px) and (max-width: 459px){

}