body{
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	font-family: sans-serif;
	overflow-x: hidden;
	background: #f5fafb;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

header{
	position: fixed;
	background: #66abe6;
	top: 0px;
	width: 100%;
	height: 33px;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
	padding-top: 9px;
	overflow: hidden;
	z-index: 100;
}

header label{
	position: relative;
	top: 0px;
}

.h1{
	padding-left: 10px;
	text-align: left;
	font-size: 19px;	
}

.h1 a{
	color: #fff;
}

.h1 label{
	padding-left: 10px;
}

.color{
	padding-left: 15px;
	color: #9e9d9d;
}

.main{
	position: relative;
	margin-top: 42px;
/*	background: green;	*/
	text-align: left;
	padding-top: 20px;
}

.main label{
	padding-left: 30px;
}

.main-header{
	background: #EFEFEF;
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
}

.main-header label{
	position: relative;
	top: -40px;
}

.main-header img{
	width: 70px;
}

.main-center textarea{
	padding: 10px 0px 0px 15px;
	background: transparent;
	resize: none;
	min-width: 80%;
	max-width: 80%;
	max-height: 200px;
	min-height: 200px;
	margin-left: 2%;
}

.main-center{
	text-align: center;
}

.main-btn{
	text-align: center;
}

.main-btn input[type="submit"]{
	position: relative;
		padding: 9px 30px 10px 30px;
		width: 70%;
		margin-top: 10px;
		margin-left: 3%;
		color: #fff;
		background: #08AE9E;
		border: 1px solid #08AE9E;
		box-shadow: 5px 5px 10px #ccc; 
		border-radius: 3px;
		font-weight: bold;
		font-size: 15px;
		cursor: pointer;
}

@media only screen and (min-width: 460px) and (max-width: 999px){

}

@media only screen and (min-width: 100px) and (max-width: 459px){

}